*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/client/netzke-*
doc/client/build
doc/client/.yuidocs
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
